body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.table-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button {
    margin: 5px;
}

body {
    background-color: #f8f9fa;
  }
  
  .nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }
  
  .nav-tabs .nav-link {
    cursor: pointer;
  }
  